.upload-container {
    height: 150px;
    border: 2px dashed #ccc;
    margin: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.upload-container:hover, .upload-container.dragging {
    border-color: #007bff;
    background-color: #f8f9fa;
}
.upload-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: #6c757d;
}
.upload-text {
    color: #6c757d;
}
#upload-area input{
  display: none;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  list-style: none;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
}

.breadcrumb-item {
  display: flex;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.upload-error {
  position: relative;
  padding: 10px;
  color: red;
  font-size: 12px;
  margin-top: 5px;
  background: var(--color-warn-bg);
  border: 1px solid var(--color-border-light);
}
.upload-error-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}