{$layout "layout_popup"}

<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
	<input type="hidden" name="serverId" :value="serverId"/>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">文件上传大小限制 </td>
			<td>
				<input type="number" name="fileSizeLimit" maxlength="10" size="6" placeholder="2" ref="focus" v-model="setting.file_size_limit"/>
				<p class="comment">(MB)不填写则以静态网站全局设置为准</p>
			</td>
		</tr>
		<tr>
			<td>上传总大小限制 </td>
			<td>
				<input type="number" name="totalSizeLimit" placeholder="2000" maxlength="10" size="6" v-model="setting.total_size_limit"/>
				<p class="comment">(MB)不填写则以静态网站全局设置为准</p>
			</td>
		</tr>
	</table>
	<submit-btn></submit-btn>
</form>