{$layout}
{$template "instance_menu"}
{$template "/code_editor"}

<form class="ui form" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>
    <input type="hidden" name="instanceId" :value="instance.id"/>

    <table class="ui table definition selectable">
        <tr>
            <td class="title">濯掍粙鍚嶇О *</td>
            <td>
                <input type="text" name="name" ref="focus" maxlength="100" v-model="instance.name"/>
                <p class="comment">缁欏綋鍓嶅獟浠嬪～鍐欎竴涓鏄撹瘑鍒殑鍚嶇О銆?/p>
            </td>
        </tr>
        <tr>
            <td class="color-border title">濯掍粙绫诲瀷 *</td>
            <td>
                <message-media-selector :v-media-type="instance.media.type" @change="changeMediaType"></message-media-selector>
            </td>
        </tr>

        <!-- E-mail -->
                <tbody v-show="mediaType == 'email'">
            <tr v-if="hasGlobalEmailSetting">
                <td class="color-border">使用全局SMTP</td>
                <td>
                    <checkbox name="useGlobalSMTP" v-model="useGlobalSMTP" @change="onToggleGlobalSMTP"></checkbox>
                    <p class="comment">全局：{{globalEmailSetting.host}}:{{globalEmailSetting.port}}（{{globalEmailSetting.username}}）</p>
                </td>
            </tr>
            <tr v-else>
                <td class="color-border">使用全局SMTP</td>
                <td>
                    <span class="ui label tiny red basic">未配置</span>
                    <a href="/settings/email" target="_blank">前往系统设置 &gt;</a>
                </td>
            </tr>
            <tr v-show="!useGlobalSMTP">
                <td class="color-border">SMTP *</td>
                <td>
                    <input type="text" name="emailSmtp" maxlength="500" v-model="instance.params.smtp" placeholder="绫讳技浜?smtp.example.com:465" :disabled="useGlobalSMTP"/>
                    <p class="comment">鍙敮鎸丼SL锛堟垨TLS锛夎繛鎺ワ紝绔彛閫氬父涓猴細465鎴?87銆?/p>
                </td>
            </tr>
            <tr v-show="!useGlobalSMTP">
                <td class="color-border">璐﹀彿 *</td>
                <td>
                    <input type="text" name="emailUsername" v-model="instance.params.username" maxlength="500" placeholder="绫讳技浜?xxx@example.com" :disabled="useGlobalSMTP" @input="changeEmailUsername()"/>
                    <p class="comment">閭璐﹀彿锛屾瘮濡?123456@qq.com<span v-html="emailUsernameHelp"></span>銆?/p>
                </td>
            </tr>
            <tr v-show="!useGlobalSMTP">
                <td class="color-border">瀵嗙爜 *</td>
                <td>
                    <input type="password" name="emailPassword" maxlength="500" :disabled="useGlobalSMTP"/>
                    <p class="comment">璐﹀彿瀵瑰簲鐨勫瘑鐮佹垨鑰呮巿鏉冪爜锛堟瘮濡俀Q閭灏遍渶瑕佹巿鏉冪爜锛夈€?/p>
                </td>
            </tr>
            <tr v-show="!useGlobalSMTP">
                <td class="color-border">鍙戦€佽€匛mail</td>
                <td>
                    <input type="text" name="emailFrom" maxlength="500" v-model="instance.params.from" placeholder="绫讳技浜?xxx@example.com" :disabled="useGlobalSMTP"/>
                    <p class="comment">榛樿鍜岃处鍙蜂竴鑷?/p>
                </td>
            </tr>
        </tbody>

        <!-- WebHook -->
        <tbody v-show="mediaType == 'webHook'">
            <tr>
                <td class="color-border">URL *</td>
                <td>
                    <input type="text" name="webHookURL" v-model="instance.params.url" maxlength="500" placeholder="http://..."/>
                    <p class="comment">鍙互鍦║RL涓娇鐢?code-label>${MessageUser}</code-label>銆?code-label>${MessageSubject}</code-label>鍜?code-label>${MessageBody}</code-label>鏉ヤ唬琛ㄦ帴鏀朵汉鏍囪瘑銆佹爣棰樺拰鍐呭銆?/p>
                </td>
            </tr>
            <tr>
                <td class="color-border">璇锋眰鏂规硶 *</td>
                <td>
                    <b-select
                        style="width:10em"
                        name="webHookMethod"
                        v-model="webHookMethod"
                        :options="[
                            ...methods.map(method => ({
                                label: method,
                                value: method,
                            }))
                        ]"
                    ></b-select>

                    <!-- <select name="webHookMethod" v-model="webHookMethod" class="ui dropdown" style="width:10em">
                        <option v-for="method in methods" :value="method">{{method}}</option>
                    </select> -->
                    <p class="comment" v-if="webHookMethod == 'POST'">灏嗕互POST鏂瑰紡鍙戦€?code-label>${MessageUser}</code-label>銆?code-label>${MessageSubject}</code-label>鍜?code-label>${MessageBody}</code-label>鍙傛暟锛屽垎鍒唬琛ㄦ帴鏀朵汉鏍囪瘑銆佹爣棰樺拰鍐呭</p>
                </td>
            </tr>
            <tr v-show="advancedOptionsVisible">
                <td class="color-border">鑷畾涔夋姤澶?/td>
                <td>
                    <div class="webHook-headers-box">
                            <span class="ui label small basic" v-for="(header,index) in webHookHeaders">{{header.name}}:{{header.value}}
                                <input type="hidden" name="webHookHeaderNames" :value="header.name"/>
                                <input type="hidden" name="webHookHeaderValues" :value="header.value"/>
                                <a href="" title="鍒犻櫎" @click.prevent="removeWebHookHeader(index)"><i class="icon remove"></i></a>
                            </span>
                    </div>
                    <div style="margin-top: 1em">
                        <b-add-button @click="addWebHookHeader()" v-if="!webHookHeadersAdding"></b-add-button>
                    </div>
                    <div v-if="webHookHeadersAdding" style="margin-top: 1em">
                        <div class="ui fields inline">
                            <div class="ui field">
                                <input type="text" name="webHookHeaderName" v-model="webHookHeadersAddingName" size="10" placeholder="鍚嶇О" maxlength="100" @keyup.enter="confirmWebHookHeadersAdding" @keypress.enter.prevent="1"/>
                            </div>
                            <div class="ui field">:</div>
                            <div class="ui field">
                                <input type="text" placeholder="鍊? v-model="webHookHeadersAddingValue" size="20" maxlength="256" @keyup.enter="confirmWebHookHeadersAdding" @keypress.enter.prevent="1"/>
                            </div>
                            <div class="ui field">
                                <button class="ui button tiny" type="button" @click.prevent="confirmWebHookHeadersAdding()">纭畾</button>
                                &nbsp;  <a href="" @click.prevent="cancelWebHookHeadersAdding()">鍙栨秷</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr v-show="webHookMethod == 'POST' && advancedOptionsVisible">
                <td class="color-border">鑷畾涔夊唴瀹?/td>
                <td>
                    <div class="ui menu tabular small attached">
                        <a href="" class="item" :class="{active:webHookContentType == 'params'}" @click.prevent="selectWebHookContentType('params')">鍙傛暟瀵?/a>
                        <a href="" class="item" :class="{active:webHookContentType == 'body'}" @click.prevent="selectWebHookContentType('body')">鏂囨湰鍐呭</a>
                    </div>
                    <div class="ui segment attached" v-if="webHookContentType == 'params'">
                        <input type="hidden" name="webHookContentType" value="params"/>
                        <div class="webHook-headers-box">
                                <span class="ui label small basic" v-for="(param,index) in webHookParams">{{param.name}}:{{param.value}}
                                    <input type="hidden" name="webHookParamNames" :value="param.name"/>
                                    <input type="hidden" name="webHookParamValues" :value="param.value"/>
                                    <a href="" title="鍒犻櫎" @click.prevent="removeWebHookParam(index)"><i class="icon remove"></i></a>
                                </span>
                        </div>
                        <b-add-button @click="addWebHookParam()" v-if="!webHookParamsAdding"></b-add-button>
                        <div v-if="webHookParamsAdding">
                            <input type="hidden" name="webHookContentType" value="params"/>
                            <div class="ui fields inline">
                                <div class="ui field">
                                    <input type="text" name="webHookParamName" v-model="webHookParamsAddingName" placeholder="鍚嶇О" maxlength="100" @keyup.enter="confirmWebHookParamsAdding" @keypress.enter.prevent="1"/>
                                </div>
                                <div class="ui field">:</div>
                                <div class="ui field">
                                    <textarea type="text" placeholder="鍊? v-model="webHookParamsAddingValue" cols="50" maxlength="1024" rows="2"></textarea>
                                </div>
                            </div>
                            <button class="ui button tiny" type="button" @click.prevent="confirmWebHookParamsAdding()">纭娣诲姞</button>
                            &nbsp;  <a href="" @click.prevent="cancelWebHookParamsAdding()">鍙栨秷</a>
                        </div>
                    </div>
                    <div class="ui segment attached" v-if="webHookContentType == 'body'">
                        <input type="hidden" name="webHookContentType" value="body"/>
                        <textarea name="webHookBody" v-model="webHookBody" rows="5" placeholder="鍙戦€佺殑鍐呭"></textarea>
                        <p class="comment">
                            鍐呭涓彲浠ヤ娇鐢ㄤ笁涓彉閲忥細<code-label>${MessageUser}</code-label>銆?code-label>${MessageSubject}</code-label>鍜?code-label>${MessageBody}</code-label>鍙傛暟锛屽垎鍒唬琛ㄦ帴鏀朵汉鏍囪瘑銆佹爣棰樺拰鍐呭
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>

        <!-- Script -->
        <tbody v-show="mediaType == 'script'">
        <tr>
            <td class="color-border">鑴氭湰 *</td>
            <td>
                <input type="hidden" name="scriptType" :value="scriptTab"/>
                <input type="hidden" name="scriptLang" :value="scriptLang"/>
                <div class="ui tabular menu attached small">
                    <a class="item" :class="{active:scriptTab == 'path'}" @click.prevent="selectScriptTab('path')">鑴氭湰鏂囦欢</a>
                    <a class="item" :class="{active:scriptTab == 'code'}" @click.prevent="selectScriptTab('code')">鑴氭湰浠ｇ爜</a>
                </div>
                <div class="ui bottom segment attached" v-show="scriptTab == 'path'">
                    <input type="text" name="scriptPath" v-model="instance.params.path" maxlength="500"/>
                    <p class="comment">濡傛灉鏄疭hell鑴氭湰锛岃涓嶈蹇樿鍦ㄥご閮ㄦ坊鍔?<em>#!鑴氭湰瑙ｉ噴宸ュ叿</em>锛屾瘮濡?<em>#!/bin/bash</em><br/>
                        鎵ц姝よ剼鏈椂锛屽湪鑴氭湰涓彲浠ヤ娇鐢?code-label>${MessageUser}</code-label>銆?code-label>${MessageSubject}</code-label>鍜?code-label>${MessageBody}</code-label>涓変釜鐜鍙橀噺鍒嗗埆浠ｈ〃閫氱煡鐨勬帴鏀朵汉鏍囪瘑銆佹爣棰樺拰鍐呭銆?                    </p>
                </div>
                <div class="ui bottom segment attached" v-show="scriptTab == 'code'" style="padding-top:0">
                    <div class="ui menu text small">
                        <a class="item" v-for="lang in scriptLangs" :class="{active:lang.code == scriptLang}" @click.prevent="selectScriptLang(lang.code)">{{lang.name}}</a>
                    </div>
                    <textarea name="scriptCode" id="script-code-editor" rows="1"></textarea>
                    <p class="comment">濡傛灉鏄疭hell鑴氭湰锛岃涓嶈蹇樿鍦ㄥご閮ㄦ坊鍔?<em>#!鑴氭湰瑙ｉ噴宸ュ叿</em>锛屾瘮濡?<em>#!/bin/bash</em><br/>
                        鎵ц姝よ剼鏈椂锛屽湪鑴氭湰涓彲浠ヤ娇鐢?code-label>${MessageUser}</code-label>銆?code-label>${MessageSubject}</code-label>鍜?code-label>${MessageBody}</code-label>涓変釜鐜鍙橀噺鍒嗗埆浠ｈ〃閫氱煡鐨勬帴鏀朵汉鏍囪瘑銆佹爣棰樺拰鍐呭銆?                    </p>
                </div>
            </td>
        </tr>
        <tr v-show="advancedOptionsVisible">
            <td class="color-border">褰撳墠宸ヤ綔鐩綍<em>锛圕WD锛?/em></td>
            <td>
                <input type="text" name="scriptCwd" v-model="instance.params.cwd" maxlength="500"/>
            </td>
        </tr>
        <tr v-show="advancedOptionsVisible">
            <td class="color-border">鐜鍙橀噺<em>锛圗NV锛?/em></td>
            <td>
                <div class="ui field">
                        <span class="ui label small basic" v-for="(var1, index) in env">
                            <input type="hidden" name="scriptEnvNames" :value="var1.name"/>
                            <input type="hidden" name="scriptEnvValues" :value="var1.value"/>
                            <em>{{var1.name}}</em>: {{var1.value}}
                            <a href="" @click.prevent="removeEnv(index)"><i class="icon remove"></i></a>
                        </span>
                </div>
                <div v-if="envAdding" class="ui fields inline">
                    <div class="ui field">
                        <input type="text" name="envAddingName" v-model="envAddingName" placeholder="鍙橀噺鍚? style="width:9em" @keyup.enter="confirmAddEnv" @keypress.enter.prevent="1"/>
                    </div>
                    <div class="ui field">
                        <input type="text" name="envAddingValue" v-model="envAddingValue" placeholder="鍙橀噺鍊? style="width:15em" @keyup.enter="confirmAddEnv" @keypress.enter.prevent="1"/>
                    </div>
                    <div class="ui field">
                        <button class="ui button" type="button" @click="confirmAddEnv()">娣诲姞</button>
                    </div>
                    <div class="ui field">
                        <a href="" @click.prevent="cancelEnv()"><i class="icon remove"></i></a>
                    </div>
                </div>
                <div class="ui field">
                    <b-add-button @click="addEnv()"></b-add-button>
                </div>
            </td>
        </tr>
        </tbody>

        <!-- 閽夐拤 -->
        <tbody v-show="mediaType == 'dingTalk'">
            <tr>
                <td class="color-border">Hook鍦板潃 *</td>
                <td>
                    <textarea name="dingTalkWebHookURL" maxlength="500" placeholder="https://oapi.dingtalk.com/robot/send?access_token=xxx" v-model="instance.params.webHookURL" rows="2"></textarea>
                    <p class="comment">濉叆鑷畾涔夌兢鏈哄櫒浜虹殑Hook鍦板潃锛?a href="https://open.dingtalk.com/document/orgapp/custom-robot-access" target="_blank">鑾峰彇鏂规硶</a>銆?/p>
                </td>
            </tr>
        </tbody>

        <!-- 浼佷笟寰俊 -->
        <tbody v-show="mediaType == 'qyWeixin'">
            <tr>
                <td class="color-border">浼佷笟ID *</td>
                <td>
                    <input type="text" name="qyWeixinCorporateId" maxlength="100" v-model="instance.params.corporateId" />
                </td>
            </tr>
            <tr>
                <td class="color-border">搴旂敤AgentId *</td>
                <td>
                    <input type="text" name="qyWeixinAgentId" maxlength="100" v-model="instance.params.agentId"/>
                </td>
            </tr>
            <tr>
                <td class="color-border">搴旂敤Secret *</td>
                <td>
                    <input type="text" name="qyWeixinAppSecret" maxlength="100" v-model="instance.params.appSecret"/>
                </td>
            </tr>
            <tr>
                <td class="color-border">鍐呭鏂囨湰鏍煎紡</td>
                <td>
                    <b-select
                        style="width:10em"
                        name="qyWeixinTextFormat"
                        v-model="instance.params.textFormat"
                        :options="[
                            {label: '鏅€氭枃鏈?, value: 'text'},
                            {label: 'Markdown', value: 'markdown'},
                        ]"
                    ></b-select>

                    <!-- <select name="qyWeixinTextFormat" v-model="instance.params.textFormat" class="ui dropdown" style="width:10em">
                        <option value="text">鏅€氭枃鏈?/option>
                        <option value="markdown">Markdown</option>
                    </select> -->
                    <p class="comment" v-if="instance.params.textFormat == 'markdown'">浼佷笟寰俊鐩墠鍙敮鎸佸皯鏁扮殑Markdown璇硶锛?a href="https://work.weixin.qq.com/api/doc#90000/90135/90236/%E6%94%AF%E6%8C%81%E7%9A%84markdown%E8%AF%AD%E6%B3%95" target="_blank">鐐瑰嚮杩欓噷浜嗚В</a>銆?/p>
                </td>
            </tr>
        </tbody>

        <!-- 浼佷笟寰俊缇ゆ満鍣ㄤ汉 -->
        <tbody v-show="mediaType == 'qyWeixinRobot'">
            <tr>
                <td class="color-border">WebHook鍦板潃 *</td>
                <td>
                    <textarea name="qyWeixinRobotWebHookURL" v-model="instance.params.webHookURL" maxlength="500" placeholder="https://qyapi.weixin.qq.com/cgi-bin/webHook/send?key=xxx" rows="2"></textarea>
                    <p class="comment">濉叆鑷畾涔夌兢鏈哄櫒浜虹殑WebHook鍦板潃锛?a href="https://open.work.weixin.qq.com/help2/pc/14931" target="_blank">鑾峰彇鏂规硶</a>銆?/p>
                </td>
            </tr>
            <tr>
                <td class="color-border">鍐呭鏂囨湰鏍煎紡</td>
                <td>
                    <b-select
                        style="width:10em"
                        name="qyWeixinRobotTextFormat"
                        v-model="instance.params.textFormat"
                        :options="[
                            {label: '鏅€氭枃鏈?, value: 'text'},
                            {label: 'Markdown', value: 'markdown'},
                        ]"
                    ></b-select>

                    <!-- <select name="qyWeixinRobotTextFormat" v-model="instance.params.textFormat" class="ui dropdown" style="width:10em">
                        <option value="text">鏅€氭枃鏈?/option>
                        <option value="markdown">Markdown</option>
                    </select> -->
                    <p class="comment" v-if="instance.params.textFormat == 'markdown'">浼佷笟寰俊鐩墠鍙敮鎸佸皯鏁扮殑Markdown璇硶锛?a href="https://work.weixin.qq.com/api/doc#90000/90135/91760/markdown%E7%B1%BB%E5%9E%8B" target="_blank">鐐瑰嚮杩欓噷浜嗚В</a>銆?/p>
                </td>
            </tr>
        </tbody>

        <!-- 闃块噷浜戠煭淇?-->
        <tbody v-show="mediaType == 'aliyunSms'">
            <tr>
                <td class="color-border">绛惧悕鍚嶇О *</td>
                <td>
                    <input type="text" name="aliyunSmsSign" maxlength="100" v-model="instance.params.sign"/>
                    <p class="comment">宸茬粡瀹℃牳閫氳繃鐨勭煭淇＄鍚嶅悕绉?/p>
                </td>
            </tr>
            <tr>
                <td class="color-border">妯℃澘CODE *</td>
                <td>
                    <input type="text" name="aliyunSmsTemplateCode" maxlength="100" v-model="instance.params.templateCode" placeholder="绫讳技浜嶴MS_12345"/>
                    <p class="comment">宸茬粡瀹℃牳閫氳繃鐨勬ā鏉緾ODE</p>
                </td>
            </tr>
            <tr>
                <td class="color-border">妯℃澘鍙橀噺 *</td>
                <td>
                    <div class="ui field">
                                <span class="ui label small basic" v-for="(var1, index) in aliyunSmsTemplateVars">
                                    <input type="hidden" name="aliyunSmsTemplateVarNames" :value="var1.name"/>
                                    <input type="hidden" name="aliyunSmsTemplateVarValues" :value="var1.value"/>
                                    <em>{{var1.name}}</em>: {{var1.value}}
                                    <a href="" @click.prevent="removeAliyunSmsTemplateVar(index)"><i class="icon remove"></i></a>
                                </span>
                    </div>
                    <div v-if="aliyunSmsTemplateVarAdding" class="ui fields inline">
                        <div class="ui field">
                            <input type="text" name="aliyunSmsTemplateVarAddingName" v-model="aliyunSmsTemplateVarAddingName" placeholder="鍙橀噺鍚? style="width:9em" @keyup.enter="confirmAddAliyunSmsTemplateVar" @keypress.enter.prevent="1"/>
                        </div>
                        <div class="ui field">
                            <input type="text" name="aliyunSmsTemplateVarAddingValue" v-model="aliyunSmsTemplateVarAddingValue" placeholder="鍙橀噺鍊? style="width:15em" @keyup.enter="confirmAddAliyunSmsTemplateVar" @keypress.enter.prevent="1"/>
                        </div>
                        <div class="ui field">
                            <button class="ui button" type="button" @click="confirmAddAliyunSmsTemplateVar()">娣诲姞</button>
                        </div>
                        <div class="ui field">
                            <a href="" @click.prevent="cancelAliyunSmsTemplateVar()"><i class="icon remove"></i></a>
                        </div>
                    </div>
                    <div class="ui field">
                        <b-add-button @click="addAliyunSmsTemplateVar()"></b-add-button>
                    </div>
                    <p class="comment">妯℃澘涓娇鐢ㄧ殑鍙橀噺锛屽湪鍙橀噺涓彲浠ヤ娇鐢?code-label>${MessageUser}</code-label>銆?code-label>${MessageSubject}</code-label>鍜?code-label>${MessageBody}</code-label>鏉ヤ唬琛ㄦ帴鏀朵汉鏍囪瘑銆佹爣棰樺拰鍐呭銆?/p>
                </td>
            </tr>
            <tr>
                <td class="color-border">AccessKey ID *</td>
                <td>
                    <input type="text" name="aliyunSmsAccessKeyId" maxlength="100" v-model="instance.params.accessKeyId"/>
                    <p class="comment">鍦ㄩ樋閲屼簯鎺у埗鍙颁腑鐨勮闂帶鍒朵腑鏌愪釜鐢ㄦ埛鐨凙ccessKey ID</p>
                </td>
            </tr>
            <tr>
                <td class="color-border">AccessKey Secret *</td>
                <td>
                    <input type="text" name="aliyunSmsAccessKeySecret" maxlength="100" v-model="instance.params.accessKeySecret"/>
                    <p class="comment">鍦ㄩ樋閲屼簯鎺у埗鍙颁腑鐨勮闂帶鍒朵腑鏌愪釜鐢ㄦ埛鐨凙ccessKey Secret锛屽拰涓婇潰鐨凙ccessKey ID鍖归厤</p>
                </td>
            </tr>
        </tbody>

        <!-- Telegram -->
        <tbody v-if="mediaType == 'telegram'">
            <tr>
                <td class="color-border">鏈哄櫒浜篢oken</td>
                <td>
                    <input type="text" name="telegramToken" v-model="instance.params.token"/>
                    <p class="comment">鍦ㄥ垱寤烘満鍣ㄤ汉鐨勬椂鍊欏彲浠ヨ幏寰楋紝绫讳技浜?<code-label>123456:AAAA-AAAAAAAAAAAAAAAAAAAA</code-label>锛屽彲浠ュ悜 <code-label>@BotFather</code-label> 鍙戦€?<code-label>/newbot</code-label>鎸囦护鍒涘缓鏂扮殑鏈哄櫒浜恒€?/p>
                </td>
            </tr>
            <tr>
                <td class="color-border">浠ｇ悊鏈嶅姟</td>
                <td>
                    <div class="ui fields inline">
                        <div class="ui field">
                            <b-select
                                name="telegramProxyScheme"
                                v-model="telegramProxyScheme"
                                :options="[
                                    {label: 'socks5://', value: 'socks5'},
                                    {label: 'https://', value: 'https'},
                                    {label: 'http://', value: 'http'},
                                ]"
                            ></b-select>

                            <!-- <select class="ui dropdown" name="telegramProxyScheme" v-model="telegramProxyScheme">
                                <option value="socks5">socks5://</option>
                                <option value="https">https://</option>
                                <option value="http">http://</option>
                            </select> -->
                        </div>
                        <div class="ui field">
                            <input type="text" name="telegramProxyHost" v-model="telegramProxyHost" placeholder="HOST:PORT"/>
                        </div>
                    </div>
                    <p class="comment">鍙€夐」锛屼粎褰揂PI鑺傜偣鎵€鍦ㄦ湇鍔″櫒鏃犳硶鐩存帴杩炴帴Telegram API鏃跺～鍐欙紱娴嬭瘯鏄惁鑳藉杩炴帴Telegram API鐨勬柟娉曪細<code-label>curl https://api.telegram.org</code-label>鍑虹幇2XX銆?XX銆?XX涔嬬被鎻愮ず鏃惰鏄庤兘澶熺洿鎺ヨ繛鎺ワ紱濡傛灉浣犺缃簡浠ｇ悊锛岃浣跨敤<code-label>curl -x "浣犵殑浠ｇ悊鏈嶅姟鍦板潃" https://api.telegram.org</code-label>鏉ユ祴璇曚綘鐨勪唬鐞嗘槸鍚﹀彲鐢ㄣ€?/p>
                </td>
            </tr>
        </tbody>
        <tr>
            <td>鍙戦€侀鐜?em>锛堟/鍒嗛挓锛?/em></td>
            <td>
                <div class="ui fields inline">
                    <div class="ui field">
                        <div class="ui right labeled input">
                            <input type="text" name="rateCount" size="4" v-model="instance.rate.count" maxlength="4"/>
                            <span class="ui label">娆?/span>
                        </div>
                    </div>
                    <div class="ui field">/</div>
                    <div class="ui field">
                        <div class="ui right labeled input">
                            <input type="text" name="rateMinutes" size="4" v-model="instance.rate.minutes" maxlength="4"/>
                            <span class="ui label">鍒嗛挓</span>
                        </div>
                    </div>
                </div>
                <p class="comment">鐢ㄦ潵闄愬埗姝ゅ獟浠嬬殑鍙戦€侀鐜囥€?/p>
            </td>
        </tr>
        <tr>
            <td>蹇界暐鐩镐技娑堟伅鍛ㄦ湡</td>
            <td>
                <div class="ui input right labeled">
                    <input type="text" name="hashLife" style="width: 5em" maxlength="4" v-model="instance.hashLife"/>
                    <span class="ui label">绉?/span>
                </div>
                <p class="comment">鍙互鍦ㄨ繖涓椂闂村唴蹇界暐鐩镐技娑堟伅锛岄槻姝㈢煭鏃堕棿鍐呮秷鎭暟閲忚繃杞姐€備笉濉垨鑰呬负0锛岃〃绀洪粯璁や负60绉掋€?/p>
            </td>
        </tr>
        <tr>
            <td>澶囨敞</td>
            <td>
                <textarea rows="3" name="description" maxlength="100" v-model="instance.description"></textarea>
            </td>
        </tr>
        <tr>
            <td>鍚敤褰撳墠濯掍粙</td>
            <td>
                <checkbox name="isOn" :v-value="1" v-model="instance.isOn"></checkbox>
            </td>
        </tr>
    </table>

    <submit-btn></submit-btn>
</form>
