{$layout "layout_popup"}

<h3>创建用户</h3>

<form class="ui form" method="post" data-tea-action="$" data-tea-success="success">
	<csrf-token></csrf-token>
	<table class="ui table definition selectable">
        <tr>
            <td class="title">用户名 *</td>
            <td>
                <input type="text" name="username" maxlength="100" ref="focus"/>
                <p class="comment">用户名仅能包含字母、数字和下划线。</p>
            </td>
        </tr>
        <tr>
            <td>密码 *</td>
            <td>
                <input type="password" name="pass1" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td>确认密码 *</td>
            <td>
                <input type="password" name="pass2" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td>全名 *</td>
            <td>
                <input type="text" name="fullname" maxlength="100"/>
                <p class="comment">用户姓名或公司名称等。</p>
            </td>
        </tr>
        <tr>
            <td>关联集群 *</td>
            <td>
                <cluster-selector></cluster-selector>
                <p class="comment">用户发布的网站会自动归属到此集群。</p>
            </td>
        </tr>
        <tr>
            <td>开启功能</td>
            <td>
                <radio name="featuresType" value="default" :v-value="'default'">默认功能</radio>
                &nbsp; &nbsp;
                <radio name="featuresType" :v-value="'all'">全部功能</radio>
                <p class="comment">用户默认开启的功能可以在<a href="/users/setting" target="_blank">[这里]</a>设置。</p>
            </td>
        </tr>
        <tr>
            <td colspan="2"><more-options-indicator></more-options-indicator></td>
        </tr>
        <tbody v-show="moreOptionsVisible">
            <tr>
                <td>手机号</td>
                <td>
                    <input type="text" name="mobile" maxlength="11"/>
                </td>
            </tr>
            <tr>
                <td>联系电话</td>
                <td>
                    <input type="text" name="tel" maxlength="100"/>
                </td>
            </tr>
            <tr>
                <td>电子邮箱</td>
                <td>
                    <input type="text" name="email" maxlength="100"/>
                </td>
            </tr>
            <tr>
                <td>OTP 认证</td>
                <td>
                    <checkbox name="otpOn">启用 OTP</checkbox>
                    <p class="comment">启用 OTP 认证后，用户登录时需要同时输入 OTP 动态口令。</p>
                </td>
            </tr>
            <tr>
                <td>备注</td>
                <td>
                    <textarea rows="3" name="notes"></textarea>
                </td>
            </tr>
            <tr>
                <td>状态</td>
                <td>
                    <checkbox name="isOn" :value="1" :v-value="1" checked>启用</checkbox>
                </td>
            </tr>
        </tbody>
	</table>
</form>
