{$layout "layout_popup"}

<h3>娣诲姞DNS鏈嶅姟鍟嗚处鍙?/h3>
<form class="ui form" data-tea-action="$" data-tea-success="success">
	<csrf-token></csrf-token>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">璐﹀彿璇存槑 *</td>
			<td>
				<input type="text" name="name" maxlength="50" ref="focus"/>
				<p class="comment">鐢ㄦ潵鏂逛究鍖哄垎涓嶅悓鐨勮处鍙枫€?/p>
			</td>
		</tr>
		<tr>
			<td>鏈嶅姟鍟嗗巶瀹?*</td>
			<td>
				<select class="ui dropdown auto-width" name="type" v-model="type" @change="changeType">
					<option v-for="type in types" :value="type.code">{{type.name}}</option>
				</select>
                <p class="comment" v-if="typeDescription.length > 0">{{typeDescription}} 系统会保留原有域名下的域名解析，请放心使用。</p>
			</td>
		</tr>
		<tr v-show="type.length > 0">
			<td colspan="2">API鍙傛暟</td>
		</tr>

		<!-- DNSPod -->
		<tbody v-if="type == 'dnspod'">
            <tr>
                <td>瀵嗛挜绫诲瀷 *</td>
                <td>
                    <select class="ui dropdown auto-width" name="paramDNSPodAPIType" v-model="paramDNSPodAPIType">
                        <option value="tencentDNS">鑵捐浜慉PI瀵嗛挜</option>
                        <option value="dnsPodToken">DNSPod Token</option>
                    </select>
                </td>
            </tr>
            <tr v-show="paramDNSPodAPIType == 'tencentDNS'">
                <td>SecretId *</td>
                <td>
                    <input type="text" name="paramDNSPodAccessKeyId" maxlength="100"/>
                    <p class="comment">鍦―NSPod鎺у埗鍙扳€滆处鍙蜂腑蹇?-API瀵嗛挜鈥濅腑鑾峰彇銆?/p>
                </td>
            </tr>
            <tr v-show="paramDNSPodAPIType == 'tencentDNS'">
                <td>SecretKey *</td>
                <td>
                    <input type="text" name="paramDNSPodAccessKeySecret" maxlength="100"/>
                    <p class="comment">鍦―NSPod鎺у埗鍙扳€滆处鍙蜂腑蹇?-API瀵嗛挜鈥濅腑鑾峰彇銆?mask-warning></mask-warning></p>
                </td>
            </tr>
			<tr v-show="paramDNSPodAPIType == 'dnsPodToken'">
				<td>瀵嗛挜ID *</td>
				<td>
					<input type="text" name="paramDNSPodId" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍦―NSPod鎺у埗鍙扳€滆处鍙蜂腑蹇?-API瀵嗛挜--DNSPod Token鈥濅腑鑾峰彇銆?/p>
				</td>
			</tr>
			<tr v-show="paramDNSPodAPIType == 'dnsPodToken'">
				<td>瀵嗛挜Token *</td>
				<td>
					<input type="text" name="paramDNSPodToken" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍦―NSPod鎺у埗鍙扳€滆处鍙蜂腑蹇?-API瀵嗛挜--DNSPod Token鈥濅腑鑾峰彇銆?mask-warning></mask-warning></p>
				</td>
			</tr>
            <tr v-if="paramDNSPodAPIType == 'dnsPodToken'">
                <td>鍖哄煙</td>
                <td>
                    <select class="ui dropdown auto-width" name="paramDNSPodRegion">
                        <option value="">涓浗绔?/option>
                        <option value="international">鍥介檯绔?/option>
                    </select>
                </td>
            </tr>
		</tbody>

		<!-- AliDNS -->
		<tbody v-if="type == 'alidns'">
			<tr>
				<td>AccessKeyId *</td>
				<td>
					<input type="text" name="paramAliDNSAccessKeyId" maxlength="100" spellcheck="false"/>
					<p class="comment">鐧诲綍闃块噷浜戞帶鍒跺彴 -- 鍦?璁块棶鎺у埗"涓垱寤哄拰鑾峰彇銆?/p>
				</td>
			</tr>
			<tr>
				<td>AccessKeySecret *</td>
				<td>
					<input type="text" name="paramAliDNSAccessKeySecret" maxlength="100" spellcheck="false"/>
					<p class="comment">鐧诲綍闃块噷浜戞帶鍒跺彴 -- 鍦?璁块棶鎺у埗"涓垱寤哄拰鑾峰彇銆?mask-warning></mask-warning></p>
				</td>
			</tr>
            <tr>
                <td>鍖哄煙ID<optional-label></optional-label></td>
                <td>
                    <input type="text" name="paramAliDNSRegionId" maxlength="100" spellcheck="false"/>
                    <p class="comment">闃块噷浜戜骇鍝佹墍鍦ㄥ尯鍩熶唬鍙凤紝閫氬父涓嶉渶瑕佸～鍐欍€?/p>
                </td>
            </tr>
		</tbody>

        <!-- 鍗庝负浜?-->
        <tbody v-if="type == 'huaweiDNS'">
            <tr>
                <td>AccessKeyId *</td>
                <td>
                    <input type="text" name="paramHuaweiAccessKeyId" maxlength="100" spellcheck="false"/>
                    <p class="comment">鐧诲綍鍗庝负浜戞帶鍒跺彴 -- 鍦?鎴戠殑鍑瘉 -- 璁块棶瀵嗛挜"涓垱寤哄拰鑾峰彇銆?/p>
                </td>
            </tr>
            <tr>
                <td>AccessKeySecret *</td>
                <td>
                    <input type="text" name="paramHuaweiAccessKeySecret" maxlength="100" spellcheck="false"/>
                    <p class="comment">鐧诲綍鍗庝负浜戞帶鍒跺彴 -- 鍦?鎴戠殑鍑瘉 -- 璁块棶瀵嗛挜"涓垱寤哄拰鑾峰彇銆?mask-warning></mask-warning></p>
                </td>
            </tr>
            <tr>
                <td>缁堢鑺傜偣</td>
                <td>
                    <input type="text" name="paramHuaweiEndpoint" maxlength="100" spellcheck="false"/>
                    <p class="comment">閫夊～椤广€傚彲浠ュ～鍐欑粓绔妭鐐癸紙Endpoint锛夊尯鍩熶唬鍙锋垨鑰呭煙鍚嶏紝鍙傝€?<a href="https://developer.huaweicloud.com/endpoint?DNS" target="_blank">https://developer.huaweicloud.com/endpoint?DNS</a>锛堝鏋滄閾炬帴澶辨晥锛岃鍒板崕涓轰簯寮€鍙戣€呬腑蹇冭嚜琛屾煡鎵撅級銆?/p>
                </td>
            </tr>
        </tbody>

        <!-- CloudFlare -->
        <tbody v-if="type == 'cloudFlare'">
            <tr>
                <td>API瀵嗛挜 *</td>
                <td>
                    <input type="text" name="paramCloudFlareAPIKey" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍦ㄤ釜浜鸿祫鏂欎腑鐨?API浠ょ墝"--"API瀵嗛挜"--"Global API Key"涓幏鍙栥€?mask-warning></mask-warning></p>
                </td>
            </tr>
            <tr>
                <td>璐﹀彿閭 *</td>
                <td>
                    <input type="text" name="paramCloudFlareEmail" maxlength="100" spellcheck="false"/>
                    <p class="comment">鐧诲綍璐﹀彿浣跨敤鐨勯偖绠便€?/p>
                </td>
            </tr>
        </tbody>

        <!-- GoDaddy -->
        <tbody v-if="type == 'godaddy'">
            <tr>
                <td>Key *</td>
                <td>
                    <input type="text" name="paramGoDaddyKey" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍙互鍦℅oDaddy<a href="https://developer.godaddy.com/keys" target="_blank">寮€鍙戣€呬腑蹇?/a>鍒涘缓锛屽垱寤烘椂Environment閫夋嫨Production銆?/p>
                </td>
            </tr>
            <tr>
                <td>Secret *</td>
                <td>
                    <input type="text" name="paramGoDaddySecret" maxlength="100" spellcheck="false"/>
                    <p class="comment"><mask-warning></mask-warning></p>
                </td>
            </tr>
        </tbody>

        <!-- ClouDNS -->
        <tbody v-if="type == 'cloudns'">
            <tr>
                <td>鐢ㄦ埛璁よ瘉ID<em>锛坅uth-id锛?/em></td>
                <td>
                    <input type="text" name="paramClouDNSAuthId" maxlength="20" spellcheck="false"/>
                    <p class="comment">鍜屽瓙鐢ㄦ埛璁よ瘉ID浜岄€変竴銆傚彲浠ュ湪ClouDNS<a href="https://www.cloudns.net/api-settings/" target="_blank">API璁剧疆椤甸潰</a>娣诲姞銆?/p>
                </td>
            </tr>
            <tr>
                <td>瀛愮敤鎴疯璇両D<em>锛坰ub-auth-id锛?/em></td>
                <td>
                    <input type="text" name="paramClouDNSSubAuthId" maxlength="20" spellcheck="false"/>
                    <p class="comment">鍜岀敤鎴疯璇両D浜岄€変竴銆傚彲浠ュ湪ClouDNS<a href="https://www.cloudns.net/api-settings/" target="_blank">API璁剧疆椤甸潰</a>娣诲姞銆?/p>
                </td>
            </tr>
            <tr>
                <td>璁よ瘉瀵嗙爜 *<em>锛坅uth-password锛?/em></td>
                <td>
                    <input type="password" name="paramClouDNSAuthPassword" maxlength="100" spellcheck="false"/>
                    <p class="comment">鐢ㄦ埛鎴栬€呭瓙鐢ㄦ埛鐨勮璇佸瘑鐮併€?mask-warning></mask-warning></p>
                </td>
            </tr>
        </tbody>

        <!-- DNS.COM -->
        <tbody v-if="type == 'dnscom'">
            <tr>
                <td>API Key *</td>
                <td>
                    <input type="text" name="paramDNSComKey" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍦―NS.COM鎺у埗鍙拌处鍙蜂腑蹇?-API璁剧疆涓垱寤哄拰鏌ョ湅銆?/p>
                </td>
            </tr>
            <tr>
                <td>API Secret *</td>
                <td>
                    <input type="text" name="paramDNSComSecret" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍦―NS.COM鎺у埗鍙拌处鍙蜂腑蹇?-API璁剧疆涓垱寤哄拰鏌ョ湅銆?mask-warning></mask-warning></p>
                </td>
            </tr>
        </tbody>

        <!-- DNS.LA -->
        <tbody v-if="type == 'dnsla'">
            <tr>
                <td>API ID *</td>
                <td>
                    <input type="text" name="paramDNSLaAPIId" maxlength="100"/>
                    <p class="comment">鍦―NS.LA鎺у埗鍙?-璐︽埛淇℃伅涓煡鐪嬨€?/p>
                </td>
            </tr>
            <tr>
                <td>API瀵嗛挜 *</td>
                <td>
                    <input type="text" name="paramDNSLaSecret" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍦―NS.LA鎺у埗鍙?-璐︽埛淇℃伅涓煡鐪嬨€?mask-warning></mask-warning></p>
                </td>
            </tr>
        </tbody>

        <!-- VolcEngine -->
        <tbody v-if="type == 'volcEngine'">
            <tr>
                <td>Access Key ID *</td>
                <td>
                    <input type="text" name="paramVolcEngineAccessKeyId" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍦ㄧ伀灞卞紩鎿庘€滆闂帶鍒?-API璁块棶瀵嗛挜鈥濅腑鑾峰彇銆?/p>
                </td>
            </tr>
            <tr>
                <td>Secret Access Key *</td>
                <td>
                    <input type="text" name="paramVolcEngineAccessKeySecret" maxlength="100" spellcheck="false"/>
                    <p class="comment"><mask-warning></mask-warning></p>
                </td>
            </tr>
        </tbody>

        <!-- Amazon Route 53 -->
        <tbody v-if="type == 'amazonRoute53'">
            <tr>
                <td>Access Key ID *</td>
                <td>
                    <input type="text" name="paramAmazonRoute53AccessKeyId" maxlength="100" spellcheck="false"/>
                </td>
            </tr>
            <tr>
                <td>Secret Access Key *</td>
                <td>
                    <input type="text" name="paramAmazonRoute53AccessKeySecret" maxlength="100" spellcheck="false"/>
                    <p class="comment"><mask-warning></mask-warning></p>
                </td>
            </tr>
            <tr>
                <td>API鍖哄煙</td>
                <td>
                    <input type="text" name="paramAmazonRoute53Region" maxlength="100"  spellcheck="false"/>
                    <p class="comment">閫氬父涓嶉渶瑕佸～鍐欍€?/p>
                </td>
            </tr>
        </tbody>

        <!-- Microsoft Azure DNS -->
        <tbody v-if="type == 'azureDNS'">
            <tr>
                <td>璁㈤槄ID <br/><em>(Subscription ID)</em> *</td>
                <td>
                    <input type="text" name="paramAzureDNSSubscriptionId" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍙互鍦ㄨ闃咃紙Subscriptions锛夋湇鍔′腑鏌ョ湅銆?/p>
                </td>
            </tr>
            <tr>
                <td>鐩綍(绉熸埛) ID <br/><em>(Directory Tenant ID)</em> *</td>
                <td>
                    <input type="text" name="paramAzureDNSTenantId" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍙互鍦ㄥ簲鐢ㄦ敞鍐岋紙App registrations锛変腑瀵瑰簲搴旂敤姒傝堪锛圤verview锛変腑鏌ョ湅銆?/p>
                </td>
            </tr>
            <tr>
                <td>搴旂敤绋嬪簭(瀹㈡埛绔? ID <br/><em>(Client ID)</em> *</td>
                <td><input type="text" name="paramAzureDNSClientId" maxlength="100" spellcheck="false"/>
                    <p class="comment">闇€瑕佸湪搴旂敤娉ㄥ唽锛圓pp registrations锛変腑鏂版敞鍐屽簲鐢ㄧ▼搴忚幏寰椼€?/p>
                </td>
            </tr>
            <tr>
                <td>瀹㈡埛绔瘑鐮佸€?<br/><em>(Client Secret Value)</em> *</td>
                <td><input type="text" name="paramAzureDNSClientSecret" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍙互鍦ㄥ簲鐢ㄦ敞鍐岋紙App registrations锛変腑瀵瑰簲搴旂敤鐨勨€滆瘉涔﹀拰瀵嗙爜锛圕ertificates &amp; secrets锛夆€?-鈥滃鎴风瀵嗙爜锛圕lient secrets锛夆€濅腑鍒涘缓鍜屾煡鐪嬨€?mask-warning></mask-warning></p>
                </td>
            </tr>
            <tr>
                <td>璧勬簮缁?<br/><em>(Resource Group Name)</em> *</td>
                <td>
                    <input type="text" name="paramAzureDNSResourceGroupName" maxlength="100" spellcheck="false"/>
                    <p class="comment">鏉冮檺璁剧疆甯姪锛氫綘闇€瑕佸湪瀵瑰簲璧勬簮缁勶紙Resource group锛?- 璁块棶鎺у埗锛圓ccess control (IAM)锛?- 瑙掕壊鍒嗛厤锛圧ole assignments锛変腑娣诲姞涓€涓鑹插垎閰嶏紙Role assignment锛夛紝鍏朵腑浣滀笟鑱岃兘瑙掕壊锛圝ob function roles锛変负"DNS 鍖哄煙鍙備笌鑰?DNS Zone Contributor)"锛屾垚鍛橈紙Members锛変负搴旂敤娉ㄥ唽锛圓pp registrations锛変腑鐨勫簲鐢ㄧ▼搴忥紙application锛夛紙鏈夋椂闇€瑕佸湪閫夋嫨鎴愬憳锛坰elect members锛夌晫闈㈡悳绱㈠簲鐢ㄧ▼搴忥紙application锛夊悕绉版墠鑳界湅鍒帮級銆?/p>
                </td>
            </tr>
        </tbody>

        <!-- bunny.net -->
        <tbody v-if="type == 'bunnyNet'">
            <tr>
                <td>API瀵嗛挜 *</td>
                <td>
                    <input type="text" name="paramBunnyNetAPIKey" maxlength="100" spellcheck="false"/>
                    <p class="comment">鍦ㄢ€淓dit account details" -- "API Key"涓幏鍙栥€?mask-warning></mask-warning></p>
                </td>
            </tr>
        </tbody>

        <!-- EdgeDNS -->
        <tbody v-if="type == 'localEdgeDNS'">
            <tr>
                <td>閫夋嫨鍩熷悕鏈嶅姟闆嗙兢 *</td>
                <td>
                    <select class="ui dropdown auto-width" name="paramLocalEdgeDNSClusterId">
                        <option value="0">[閫夋嫨鍩熷悕鏈嶅姟闆嗙兢]</option>
                        <option v-for="cluster in nsClusters" :value="cluster.id">{{cluster.name}}</option>
                    </select>
                </td>
            </tr>
        </tbody>

        <!-- EdgeDNS API -->
        <tbody v-if="type == 'edgeDNSAPI'">
            <tr>
                <td>API鍦板潃 *</td>
                <td>
                    <input type="text" name="paramEdgeDNSAPIHost" maxlength="100"/>
                </td>
            </tr>
            <tr>
                <td>AccessKey绫诲瀷 *</td>
                <td>
                    <select class="ui dropdown auto-width" name="paramEdgeDNSAPIRole">
                        <option value="user">骞冲彴鐢ㄦ埛</option>
                        <option value="admin">绠＄悊鍛?/option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>AccessKey ID *</td>
                <td>
                    <input type="text" name="paramEdgeDNSAPIAccessKeyId" maxlength="64"/>
                </td>
            </tr>
            <tr>
                <td>AccessKey瀵嗛挜 *</td>
                <td>
                    <input type="text" name="paramEdgeDNSAPIAccessKeySecret" maxlength="64"/>
                    <p class="comment"><mask-warning></mask-warning></p>
                </td>
            </tr>
        </tbody>

        <!-- 鑷畾涔塇TTP-->
        <tbody v-if="type == 'customHTTP'">
            <tr>
                <td>HTTP URL *</td>
                <td>
                    <input type="text" name="paramCustomHTTPURL" maxlength="200"/>
                    <p class="comment">HTTP URL瀹屾暣鍦板潃锛孌NS鎵€鏈夋搷浣滈兘浼氫互POST鐨勬柟寮忚浆鍙戝埌姝ゅ湴鍧€銆?/p>
                </td>
            </tr>
            <tr>
                <td>绉侀挜 *</td>
                <td>
                    <input type="text" name="paramCustomHTTPSecret" maxlength="64" v-model="paramCustomHTTPSecret"/>
                    <p class="comment">閫氳鐢ㄧ殑绉侀挜锛岃浆鍙戣姹傛椂浼氬湪Header涓姞鍏ョ浉鍏充俊鎭紝鏂逛究寮€鍙戣€呮牎楠岃姹傛槸鍚﹀悎娉曘€?/p>
                </td>
            </tr>
        </tbody>

        <!-- 鏇村閫夐」 -->
        <tr>
            <td colspan="2"><more-options-indicator></more-options-indicator></td>
        </tr>

        <tbody v-show="moreOptionsVisible">
            <tr>
                <td>鏈€灏廡TL</td>
                <td>
                    <div class="ui right labeled input">
                        <input type="text" name="minTTL" size="4" maxlength="6" style="width: 6em"/>
                        <span class="ui label">绉?/span>
                    </div>
                    <p class="comment">鐢熸垚鐨凞NS鏃跺彲浠ヤ娇鐢ㄧ殑鏈€灏廡TL锛岃鏍规嵁浣犻€夋嫨鐨勬湇鍔″晢鍜屼綘鍦ㄦ湇鍔″晢涓殑璐﹀彿绛夌骇杩涜濉啓锛涗笉濉啓鎴栬€?琛ㄧず榛樿銆?/p>
                </td>
            </tr>
        </tbody>
	</table>

	<submit-btn></submit-btn>
</form>




