{$layout}
{$template "menu"}

<div v-if="key == null">
    <div class="margin"></div>
    <div class="ui message error icon" v-if="plusErr.length > 0">
        <i class="p-message-icon pi pi-exclamation-triangle"></i>
        鍑虹幇寮傚父閿欒锛岃閲嶆柊婵€娲伙細{{plusErr}}
    </div>

    <div>
        <warning-message>
            浣犳殏鏃跺皻鏈縺娲诲晢涓氱増鏈細
            <ul>
                <li><a href="https://lingcdn.cloud/commercial" target="_blank">浜嗚В涓撲笟鐗?/a> </li>
                <li><a href="https://lingcdn.cloud/docs/Plus/Price.md" target="_blank">浠锋牸浣撶郴</a> </li>
                <li><a href="https://lingcdn.cloud/community" target="_blank">鍏朵粬鏂瑰紡璐拱涓撲笟鐗?/a> </li>
                <li><a href="https://lingcdn.cloud/community" target="_blank">鑱旂郴璇曠敤</a> </li>
            </ul>
        </warning-message>
        <warning-message>
            <a href="/settings/authority/activate">濡傛灉浣犲凡缁忔湁娉ㄥ唽鐮侊紝鐐硅繖閲屾縺娲?&raquo;</a>
        </warning-message>
    </div>
</div>

<div v-if="key != null">
    <div class="margin"></div>

    <div class="ui message success icon" v-if="!key.isExpired && plusErr.length == 0">
        <i class="icon gem outline small yellow"></i>
        <div class="content">
            鎭枩鎮ㄥ凡缁忔垚涓哄皧璐电殑鍟嗕笟鐗堢敤鎴枫€?        </div>
    </div>

    <div class="ui message error icon" v-if="plusErr.length > 0">
        <i class="p-message-icon pi pi-exclamation-triangle"></i>
        {{plusErr}}
    </div>

    <div class="margin"></div>

    <b-status-card>
        <b-status-card-item label="鐘舵€?>
            <span class="red" v-if="key.isExpiring">鍗冲皢杩囨湡</span>
            <span class="red" v-else-if="key.isExpired">宸茶繃鏈?/span>
            <span class="green" v-else>宸茶璇?/span>
        </b-status-card-item>
        <b-status-card-item  v-if="key.editionName != null && key.editionName.length > 0" label="鐗堟湰">
            {{key.editionName}}
        </b-status-card-item>
        <b-status-card-item v-if="key.nodes > 0" label="鑺傜偣鏁伴檺鍒?>
            {{key.nodes}}涓妭鐐?            <span class="small grey">锛堝凡浣跨敤{{quota.countNodes}}涓妭鐐癸級</span>
        </b-status-card-item>
        <b-status-card-item label="鍏徃/缁勭粐鍚?>
            {{key.company}}
            <div v-if="key.company != null && key.company.indexOf('璇曠敤') > 0">
                <span class="red">璇曠敤鐗堟湰</span>
            </div>
        </b-status-card-item>
        <b-status-card-item label="寮€濮嬫棩鏈?>
            {{key.dayFrom}}
        </b-status-card-item>
        <b-status-card-item label="缁撴潫鏃ユ湡">
            <span :class="{green: key.dayTo == '缁堣韩鎺堟潈'}">{{key.dayTo}}</span>
            <div v-if="key.isExpiring" style="margin-top: 0.5em">
                <span class="red">鍗冲皢杩囨湡</span>
            </div>
            <div v-else-if="key.isExpired" style="margin-top: 0.5em">
                <span class="red">宸茶繃鏈燂紝璇峰敖蹇洿鏂拌璇佷俊鎭€?/span>
            </div>
        </b-status-card-item>
        <b-status-card-item label="寮€閫氱粍浠?>
            <span v-if="key.components.length == 0" class="component-label">鎵€鏈夌粍浠?/span>
            <span v-for="c in key.components" class="component-label">
                {{c==='*'? '鎵€鏈夌粍浠? : c}}
            </span>
        </b-status-card-item>
        <b-status-card-item label="楠岃瘉鏂瑰紡">
            <span v-if="key.method == 'remote'">杩滅▼</span>
            <span v-else>绂荤嚎</span>
        </b-status-card-item>
    </b-status-card>

    <!-- <table class="ui table definition selectable">
        <tr>
            <td class="title">鐘舵€?/td>
            <td>
                <span class="red" v-if="key.isExpiring">鍗冲皢杩囨湡</span>
                <span class="red" v-else-if="key.isExpired">宸茶繃鏈?/span>
                <span class="green" v-else>宸茶璇?/span>
            </td>
        </tr>
        <tr v-if="key.editionName != null && key.editionName.length > 0">
            <td>鐗堟湰</td>
            <td>{{key.editionName}}</td>
        </tr>
        <tr v-if="key.nodes > 0">
            <td>鑺傜偣鏁伴檺鍒?/td>
            <td>{{key.nodes}}涓妭鐐?span class="small grey">锛堝凡浣跨敤{{quota.countNodes}}涓妭鐐癸級</span></td>
        </tr>
        <tr>
            <td>鍏徃/缁勭粐鍚?/td>
            <td>{{key.company}}
                <div v-if="key.company != null && key.company.indexOf('璇曠敤') > 0">
                    <span class="red">璇曠敤鐗堟湰</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="title">寮€濮嬫棩鏈?/td>
            <td>{{key.dayFrom}}</td>
        </tr>
        <tr>
            <td class="title">缁撴潫鏃ユ湡</td>
            <td><span :class="{green: key.dayTo == '缁堣韩鎺堟潈' ? 'green' : ''}">{{key.dayTo}}</span>
                <div v-if="key.isExpiring" style="margin-top: 0.5em">
                    <span class="red">鍗冲皢杩囨湡</span>
                </div>
                <div v-else-if="key.isExpired" style="margin-top: 0.5em">
                    <span class="red">宸茶繃鏈燂紝璇峰敖蹇洿鏂拌璇佷俊鎭€?/span>
                </div>
            </td>
        </tr>
        <tr>
            <td>寮€閫氱粍浠?/td>
            <td>
                <span v-if="key.components.length == 0" class="ui label basic small">*</span>
                <span v-for="c in key.components" class="ui label basic small">{{c}}</span>
            </td>
        </tr>
        <tr>
            <td>楠岃瘉鏂瑰紡</td>
            <td>
                <span v-if="key.method == 'remote'">杩滅▼</span>
                <span v-else>绂荤嚎</span>
            </td>
        </tr>
    </table> -->
    <p class="comment grey">鏁版嵁鏇存柊浜巤{key.updatedTime}}銆?/p>
</div>

<form v-if="!isPlus && key == null" data-tea-action="$" data-tea-success="success" data-tea-timeout="1800">
    <csrf-token></csrf-token>
    <div class="margin"></div>
    <submit-btn>鐢宠璇曠敤</submit-btn>
</form>