{$layout}
{$template "menu"}

<div class="ui margin"></div>
<form  method="post" class="ui form" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>
    <table class="ui table definition selectable">
        <tr>
            <td class="title">存储名称 *</td>
            <td>
                <input type="text" name="name" maxlength="50" ref="focus" placeholder=""/>
            </td>
        </tr>
        <tr>
            <td>存储方式 *</td>
            <td><b-select
                name="storageType"
                v-model="storageType"
                :options="[
                    ...storageTypes.map(node => ({
                        label: node.name??'',
                        value: node.code??'',
                    }))
                ]"
            ></b-select>
            <p v-if="storageType === 'nfs'" class="comment">请在API节点上使用NFS类似的文件系统挂载存储目录</p>
            <p v-if="storageType === 's3'" class="comment">请填写S3相关信息</p>
            </td>
        </tr>
        <!-- <tr v-if="storageType === 'local'">
            <td>选择API节点</td>
            <td>
                <b-select
                name="apinodeId"
                v-model="apinodeId"
                :options="[
                    ...apiNodes.map(node => ({
                        label: node.name??'',
                        value: node.id??'',
                    }))
                ]"
            ></b-select>
            </td>
        </tr> -->
        <!-- <tr v-if="storageType === 'nfs'">
            <td>Node节点开启</td>
            <td>
                <div class="ui checkbox">
                <input type="checkbox" name="nodeOn" value="1"/>
                <label></label>
                </div>
                <p class="comment">Node节点开启后，需要在Node节点也挂载下面的存储路径。Node节点将直接在本地请求页面，减少一次网络传输。</p>
            </td>
        </tr> -->
        <tr v-if="storageType === 'nfs'">
            <td>存储路径</td>
            <td>
                <input type="text" name="storagePath" v-model="storagePath" maxlength="150" placeholder="pages将上传资产到相应的路径下"/>
            </td>
        </tr>
        <tr v-if="storageType === 's3'">
            <td>Access Key</td>
            <td>
                <input type="text" name="accessKey" v-model="accessKey" maxlength="150" placeholder=""/>
            </td>
        </tr>
        <tr v-if="storageType === 's3'">
            <td>Secret Key</td>
            <td>
                <input type="text" name="secretKey" v-model="secretKey" maxlength="150" placeholder=""/>
            </td>
        </tr>
        <tr v-if="storageType === 's3'">
            <td>Region</td>
            <td>
                <input type="text" name="region" v-model="region" maxlength="150" placeholder=""/>
            </td>
        </tr>
        <tr v-if="storageType === 's3'">
            <td>Bucket</td>
            <td>
                <input type="text" name="bucket" v-model="bucket" maxlength="150" placeholder=""/>
            </td>
        </tr>
        <tr v-if="storageType === 's3'">
            <td>Endpoint</td>
            <td>
                <input type="text" name="endpoint" v-model="endpoint" maxlength="150" placeholder=""/>
            </td>
        </tr>
    </table>

    <submit-btn></submit-btn>
</form>